<!-- Content for about page -->
<div class = "row">
    <div class = "col">
        <p class = "fontContent">
                I am currently enrolled at centenial college for 
            game deveopment, where I am learning a multitude of skills. This includes Developing games with Unity and C#, building MEAN web applications
            with node.js modules, and developing software using java.
        </p>
        <p class="fontContent">
            While im going to school to learn how to program, on my own time I am practicing creating 3D assets. I mostly focus on organic modeling, retopology
            and rigging, I have done a little bit of animating as well. if your curious about what I have made you can checkout the 
            <a href="/projects">projects</a> page.
        </p>
        <p class="fontContent">
            My hope is by learning a large varity of skills that are usefull to game development, It will help become a better game developer. Not just 
            because having a large varity of skills is usefull, I will have a understanding of the entire workflow process
        </p>
    </div>
    <div class = "col">
        <img class="mugShot mx-auto d-block" src="/assets/Liam.jpg">
    </div>
</div>