<!-- Content for services page -->
<div class="row">
    <div class="col">
        <p class="fontContent">While Im not a very experenced yet, I still offer some services</p>
    </div>
</div>
    <div class="row">
        <div class="col mx-2">
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Service</th>
                    <th>Launguage/ Software</th>
                    <th>Years of experence</th>
                </tr>
                <tr>
                    <td>Java Proggramming</td>
                    <td>Java</td>
                    <td>4 years</td>    
                </tr>
                <tr>
                    <td>C# Proggramming</td>
                    <td>C#</td>
                    <td>2 years</td>    
                </tr>
                <tr>
                    <td>Unity Developer</td>
                    <td>C#</td>
                    <td>2 years</td>    
                </tr>
                <tr>
                    <td>Modeling/sculpting</td>
                    <td>Blender</td>
                    <td>4 years</td>    
                </tr>
                <tr>
                    <td>Rigging</td>
                    <td>Blender</td>
                    <td>2 years</td>    
                </tr>
            </table>
        </div>
    </div>
</div>