<!-- Content for home page -->
<div class = "row"> 
    <div class="col">
        <p class = "fontContent">
            Welcome to my portfolio website! My name is Liam Nelski and i am a aspiring game developer. This websites purpose is to show my skills and ability's
            and if you are interested in me, contact me for services.
        </p>
        <p>
            The site has four other pages; 'About me', 'Projects', 'Services', and 'Contact me'. The <a href="/about-me">about me</a> page is exactly what it sounds like its for, 
            to give you a quick introduction of myself. The <a href="/projects">Projects</a> page will show off some of the projects I am/have worked on, that
            way you can see some of my work. The <a href="/services">services</a> page will let you know all of the services I provide. Finally, the 
            <a href="/contact">contact me</a> page will give you the information/ provide a form to contact me if you wish.
        </p>
    </div>    
</div>