<!-- Content for project page -->
<div class="row">
    <div class="col">
        <p class="fontContent">
            Being busy with college I currently don't have that much time work on projects that are not assignments. That does not stop me from showing some of
            my assignments. Even though they are for marks and school assignments, im still exited to work on them.
        </p>
    </div>   
</div>

<!-- IGNITION SECTION-->

<!-- IGNITION PARAGRAPH I -->
<div class="row">
    <div class="col">  
        <h2>Ingition</h2>
        <p class="fontContent">           
            Ignition is a sidescroller game that is the course project for Game-Proggraming-1. You play as a fire spirit escaping from the custodity of some 
            other elemental spirits. With the game being early in development I can't share too much as it is subject to change The layout and gameplay is
            pretty standared for platformers, with the mechanic distinguishing it being the movement control
        </p>
    </div>
</div>

<!-- IGNITION PARAGRAPH II-->
<div class="row">
    <div class="col">
        <p class="fontContent">
            The spirit is contorolled by a flame jet and fireball's explosion. Both are aimed by the mouse, so the player has to move the mouse to the opposite 
            of the firespirit to direct both the jet and fireball. The jet is simpler, it applies a constat force in the opposite direction it is shooting in. 
            The Fireball must be charged and launched, and if it hits something it explodes and if the sprit is close enough it get launched in the opposite
            direction. The catch is both methods of locomotion use up the players HP, represented by the size of there body (which is just a flame).
        </p> 
    </div>
</div>

<!-- IGNITION II PARAGRAPH IMAGES -->
<div class="row">
    <div class="col">
        <img src="/assets/projects/Flame Jet.png" class="projectImage">
    </div>
    <div class="col">
        <img src="/assets/projects/FireBall.png" class="projectImage">
    </div>
    <div class="col">
        <img src="/assets/projects/Spirit Body.png" class="projectImage">
    </div>
</div>

<!-- IGNITION III PARAGRAPH -->
<div class="row my-4">
    <div class="col">
        <p class="fontContent">
            Below are some concept images for some of the enemies, They will probably change as they were slapped together in 10 minutes during brainstorming.
            From left to right; Water Sprit, Earth Spirit, and Wind Spirit
        </p>
    </div>
</div>   

<!--IGNITION III PARAGRAPH IMAGES -->
<div class="row">
    <div class="col">  
        <img src="assets/projects/Water Spirit.png" class="projectImage">
    </div>
    <div class="col">  
        <img src="assets/projects/Earth Spirit.png" class="projectImage">
    </div>
    <div class="col">  
        <img src="assets/projects/Wind Spirit.png" class="projectImage">
    </div>
</div>

<!-- ANIMATED FILM SECTION-->

<!-- ANIMATED FILM I PARAGRAPH-->
<div class="row">
    <div class="col">
        <h2>Animated film</h2>
        <p class="fontContent">
            My buddy is working on his third short animated film in blender, by his account its his "first good one". The film currently has no name, and
            because a lot of the skill needed he is learning 'on the way'. Because of that he has asked me to help him out by modeling, sculpting and rigging
            a creature for him, as I have a lot more experience with organic modeling and rigging as a whole. After showing me some the rigs he made for the
            other characters, I told him I would make the rigs for him so he did not have to suffer while he animated.
        </p>    
    </div>
</div>

<!-- ANIMATED FILM II PARAGRAPH-->
<div class="row">
    <div class="col">
        <p class="fontContent">
            The first thing I did for the project was the rigging of the three tripod characters; the kid (main protaganist), his Dad, and his mom. The legs
            of all three characters where robotic, meaning they had to have a bunch of solid rotation limiters. The Dad and kid specfically where particularly
            difficult, as they has hydrolics that needed to be hooked up to function properly with the legs.
        </p> 
    </div>
</div>

<!-- ANIMATED FILM II PARAGRAPH IMAGES-->
<div class="row">
    <div class="col">
        <img src="assets/projects/TripodKID_RIG_SS.PNG" class="projectImage">
    </div>
    <div class="col">
        <img src="assets/projects/TripodMOM_RIG_SS.PNG" class="projectImage">
    </div>
    <div class="col">
        <img src="assets/projects/TripodDAD_RIG_SS.PNG" class="projectImage">
    </div>
</div>

<!-- ANIMATED FILM III PARAGRAPH-->
<div class="row my-4">
    <div class="col">
        <p class="fontContent">
            The second job I Was given is modeling, sculpting and rigging a creature. Currently I have finished the modeling and sculpting, and still have to 
            do the rigging. Because I am so busy with school I have not had time to work on the project, but it is still on my list of things to do. Below is 
            the a couple images of the creature at its current state, (Excluding the textureing).
        </p> 
    </div>
</div>

<!-- ANIMATED FILM III PARAGRAPH IMAGES-->
<div class="row spacer-y40">
    <div class="col"> 
        <img src="assets/projects/Creature_HEAD_SS.PNG" class="projectImage">
    </div>
    <div class="col">
        <img src="assets/projects/Creature_TORSO_SS.PNG" class="projectImage">
    </div>
    <div class="col">
        <img src="assets/projects/Creature_BACK_SS.PNG" class="projectImage">
    </div>
</div>